In [28]:
'''Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple
'''

'Q1. Create one variable containing following type of data:\n(i) string\n(ii) list\n(iii) float\n(iv) tuple\n'

In [1]:
# String

In [15]:
my_string = "Ayan"
print("Type of my_string:", type(my_string))
print("Value of my_string:", my_string)

Type of my_string: <class 'str'>
Value of my_string: Ayan

In [7]:
# List

In [14]:
my_list = [1, 2, 3, 4, 5]
print("Type of my_list:", type(my_list))
print("Value of my_list:", my_list)

Type of my_list: <class 'list'>
Value of my_list: [1, 2, 3, 4, 5]

In [12]:
# Float

In [13]:
my_float = 3.14
print("Type of my_float:", type(my_float))
print("Value of my_float:", my_float)

Type of my_float: <class 'float'>
Value of my_float: 3.14

In [16]:
# Tuple

In [17]:
my_tuple = (1, 2, 3, 4, 5)
print("Type of my_tuple:", type(my_tuple))
print("Value of my_tuple:", my_tuple)

Type of my_tuple: <class 'tuple'>
Value of my_tuple: (1, 2, 3, 4, 5)

In [19]:
'''Q2. Given are some following variables containing data:
(i) varl = "
(ii) var2 = '[DS, ML, Python]'
(iii) var3 = ['DS', 'ML', 'Python']
(iv) var4 = 1.
What will be the data type of the above given variable.'''

'Q2. Given are some following variables containing data:\n(i) varl = "\n(ii) var2 = \'[DS, ML, Python]\'\n(iii) var3 = [\'DS\', \'ML\', \'Python\']\n(iv) var4 = 1.\nWhat will be the data type of the above given variable.'

In [20]:
varl = ' ' 
var2 = '[DS, ML, Python]'
var3 = ['DS', 'ML', 'Python']
var4 = 1

In [37]:
'''(i) var1 = ' ': This contains a single space enclosed in quotes. It's a string.
(ii) var2 = '[DS, ML, Python]': This looks like a string, but it's enclosed within square brackets which would typically denote a list in Python. However, the elements inside the square brackets are not valid as they are not enclosed in quotes. So, Python will treat it as a string.
(iii) var3 = ['DS', 'ML', 'Python']: This contains elements enclosed in square brackets separated by commas. This is a valid syntax for defining a list in Python.
(iv) var4 = 1.: This is a floating-point number in Python.'''

"(i) var1 = ' ': This contains a single space enclosed in quotes. It's a string.\n(ii) var2 = '[DS, ML, Python]': This looks like a string, but it's enclosed within square brackets which would typically denote a list in Python. However, the elements inside the square brackets are not valid as they are not enclosed in quotes. So, Python will treat it as a string.\n(iii) var3 = ['DS', 'ML', 'Python']: This contains elements enclosed in square brackets separated by commas. This is a valid syntax for defining a list in Python.\n(iv) var4 = 1.: This is a floating-point number in Python."

In [22]:
type(varl)

str

In [24]:
type(var2)

str

In [25]:
type(var3)

list

In [26]:
type(var4)

int

In [27]:
'''Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) ** 
'''

'Q3. Explain the use of the following operators using an example:\n(i) /\n(ii) %\n(iii) //\n(iv) ** \n'

In [30]:
'''(i) / (Division Operator):

The division operator / is used to perform regular division between two numbers.

It returns a floating-point result, even if the division yields a whole number.'''

'(i) / (Division Operator):\n\nThe division operator / is used to perform regular division between two numbers.\n\nIt returns a floating-point result, even if the division yields a whole number.'

In [29]:
result = 10 / 3
print(result)

3.3333333333333335

In [31]:
'''(ii) % (Modulus Operator):

The modulus operator % returns the remainder of the division between two numbers.
It's often used to check if a number is divisible by another number.'''

"(ii) % (Modulus Operator):\n\nThe modulus operator % returns the remainder of the division between two numbers.\nIt's often used to check if a number is divisible by another number."

In [32]:
remainder = 10 % 3
print(remainder)

1

In [33]:
'''(iii) // (Floor Division Operator):

The floor division operator // returns the quotient of the division, rounded down to the nearest whole number (discarding any fractional part).'''

'(iii) // (Floor Division Operator):\n\nThe floor division operator // returns the quotient of the division, rounded down to the nearest whole number (discarding any fractional part).'

In [34]:
result = 10 // 3
print(result)

3

In [35]:
'''(iv) ** (Exponentiation Operator):

The exponentiation operator ** is used to raise a number to the power of another number.'''

'(iv) ** (Exponentiation Operator):\n\nThe exponentiation operator ** is used to raise a number to the power of another number.'

In [36]:
result = 2 ** 3
print(result)

8

In [39]:
'''Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.'''

'Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.'

In [40]:
my_list = [10, 3.14, 'Hello', True, [1, 2, 3], {'key': 'value'}, (4, 5), None, {'apple', 'banana'}, 999]

# Loop through each element in the list
for element in my_list:
    # Print the element
    print("Element:", element)
    # Print the data type of the element
    print("Data type:", type(element))
    # Adding an empty line for better readability
    print()

Element: 10
Data type: <class 'int'>

Element: 3.14
Data type: <class 'float'>

Element: Hello
Data type: <class 'str'>

Element: True
Data type: <class 'bool'>

Element: [1, 2, 3]
Data type: <class 'list'>

Element: {'key': 'value'}
Data type: <class 'dict'>

Element: (4, 5)
Data type: <class 'tuple'>

Element: None
Data type: <class 'NoneType'>

Element: {'apple', 'banana'}
Data type: <class 'set'>

Element: 999
Data type: <class 'int'>

In [41]:
'''Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.'''

'Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.'

In [51]:
# Input numbers A and B
A = int(input("Enter the dividend (A): "))
B = int(input("Enter the divisor (B): "))

# Initialize a counter to keep track of how many times A can be divided by B
count = 0

# Loop until A is not divisible by B
while A % B == 0:
    # Divide A by B
    A /= B
    # Increment the counter
    count += 1

# If A becomes less than B at any point, it means it's no longer divisible
# Print the result
if(count>0):
    print(f"A can be purely divided by B {count} times.")
else:
    print("A is not purely divisble by B ")

Enter the dividend (A):  16
Enter the divisor (B):  2

A can be purely divided by B 4 times.

In [52]:
# Input numbers A and B
A = int(input("Enter the dividend (A): "))
B = int(input("Enter the divisor (B): "))

# Initialize a counter to keep track of how many times A can be divided by B
count = 0

# Loop until A is not divisible by B
while A % B == 0:
    # Divide A by B
    A /= B
    # Increment the counter
    count += 1

# If A becomes less than B at any point, it means it's no longer divisible
# Print the result
if(count>0):
    print(f"A can be purely divided by B {count} times.")
else:
    print("A is not purely divisble by B ")

Enter the dividend (A):  10
Enter the divisor (B):  2

A can be purely divided by B 1 times.

In [53]:
# Input numbers A and B
A = int(input("Enter the dividend (A): "))
B = int(input("Enter the divisor (B): "))

# Initialize a counter to keep track of how many times A can be divided by B
count = 0

# Loop until A is not divisible by B
while A % B == 0:
    # Divide A by B
    A /= B
    # Increment the counter
    count += 1

# If A becomes less than B at any point, it means it's no longer divisible
# Print the result
if(count>0):
    print(f"A can be purely divided by B {count} times.")
else:
    print("A is not purely divisble by B ")

Enter the dividend (A):  15
Enter the divisor (B):  2

A is not purely divisble by B

In [54]:
'''Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.'''

'Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.'

In [55]:
# Create a list containing 25 integer type data
my_list = [i for i in range(1, 26)]

# Loop through each element in the list
for num in my_list:
    # Check if the element is divisible by 3
    if num % 3 == 0:
        print(f"{num} is divisible by 3")
    else:
        print(f"{num} is not divisible by 3")

1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3
25 is not divisible by 3

In [56]:
'''Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.'''

'Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.'

In [57]:
'''Immutable data types:

Immutable data types are those whose values cannot be changed after they are created.
If you modify the value of an immutable object, Python creates a new object with the modified value rather than modifying the original object.
Examples of immutable data types in Python include integers, floats, strings, tuples, and frozensets.
Example:'''

'Immutable data types:\n\nImmutable data types are those whose values cannot be changed after they are created.\nIf you modify the value of an immutable object, Python creates a new object with the modified value rather than modifying the original object.\nExamples of immutable data types in Python include integers, floats, strings, tuples, and frozensets.\nExample:'

In [62]:
# Immutable data types example
x = 5
print("Original value of x:", x)

Original value of x: 5

In [63]:
print("Address of x:", id(x))

Address of x: 140732465275816

In [64]:
x += 2
print("Modified value of x:", x)
print("Address of x:", id(x))

Modified value of x: 7
Address of x: 140732465275880

In [70]:
'''Adress of Varieable x change when we modified it`s value, means when we modify it`s value it create a new object in a new location.'''

'Adress of Varieable x change when we modified it`s value, means when we modify it`s value it create a new object in a new location.'

In [59]:
'''Mutable data types:

Mutable data types are those whose values can be changed after they are created.
If you modify the value of a mutable object, Python directly modifies the original object without creating a new one.
Examples of mutable data types in Python include lists, dictionaries, and sets.
Example:'''

'Mutable data types:\n\nMutable data types are those whose values can be changed after they are created.\nIf you modify the value of a mutable object, Python directly modifies the original object without creating a new one.\nExamples of mutable data types in Python include lists, dictionaries, and sets.\nExample:'

In [66]:
# Mutable data types example
my_list = [1, 2, 3]
print("Original list:", my_list)
print("Address of my_list:", id(my_list))

Original list: [1, 2, 3]
Address of my_list: 1978957528832

In [67]:
my_list.append(4)
print("Modified list:", my_list)
print("Address of modified my_list:", id(my_list))

Modified list: [1, 2, 3, 4]
Address of modified my_list: 1978957528832

In [68]:
my_list[2] = 30
# Printing the modified list
print("Modified list:", my_list)
print("Address of modified my_list:", id(my_list))

Modified list: [1, 2, 30, 4]
Address of modified my_list: 1978957528832

In [71]:
'''Here adress of varieable my_list not changed'''

'Here adress of varieable my_list not changed'